<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         metadata-complete="false">
    <servlet>
        <servlet-name>TaskController</servlet-name>
        <servlet-class>controller.TaskController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TaskController</servlet-name>
        <url-pattern>/tasks/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/users/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GoalController</servlet-name>
        <servlet-class>controller.GoalController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoalController</servlet-name>
        <url-pattern>/goals/*</url-pattern>
    </servlet-mapping>
</web-app>